<div class="my-2 w-25">
    <app-select [data]="categories" [title]="'categories'" (selectedValue)="getFilteredCategory($event)"></app-select>
</div>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of products" routerLink='/details/{{item.id}}' >
           <app-product [data]="item" (cardData)="addToCart($event)"></app-product>  <!-- here we will send from child to parent => @output() -->
        </div>
    </div>
</div>
<div class="text-center w100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>