<div class="my-4 text-center">
    <!-- Category Filter Dropdown -->
    <div class="w-50 mx-auto">
    
      <!-- I can add this part if needed    [title]="'Categories'"  -->
      <app-select 
        [data]="categories" 
        (selectedValue)="getFilteredCategory($event)">
      </app-select>
    </div>
  </div>
  
  <div class="container my-5" *ngIf="!loading">
    <!-- Product Cards -->
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of products">
        <app-product [data]="item" (cardData)="addToCart($event)"></app-product>
      </div>
    </div>
  </div>
  
  <!-- Spinner while loading -->
  <div class="text-center" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  