<div class="my-2 w-25">
    <label for="sizeSelect" class="mt-3 w-25">Categories:</label>
    <select class="form-control mb-3" id="sizeSelect">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"  *ngFor="let item of products">
            <!-- Card 1 -->
            <div class="card product-card">
                <img src="https://picsum.photos/200/300" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="price">$49.99</p>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="text-muted">&#9734;</span>
                    </div>
                    <label for="sizeSelect1" class="mt-3">Choose Size:</label>
                    <select class="form-control mb-3" id="sizeSelect1">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>