<div class="loading-container text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div class="details-container">
    <div class="details-image">
        <img [src]="data.image" alt="Product Image" />
    </div>
    
    <div class="details-content">
        <p class="details-category">{{ data.category }}</p>
        <h2 class="details-title">{{ data.title }}</h2>
        <p class="details-description">{{ data.description }}</p>
        <p class="details-price">Price: <span class="price-value">{{ data.price }} $</span></p>
        <p class="details-rating">Rating: <span class="rating-value">{{ data.rating.rate }} / 5</span></p>
        
        <!-- <div class="add-to-cart-container">
            <button class="add-to-cart-btn">Add to Cart</button>
        </div> -->
    </div>
</div>
