<div class="text-center w100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div class="details-container">
    <div class="details-image">
        <img [src]="data.image" alt="Product Image" />
    </div>
    <div class="details-content">
        <h2 class="details-title">{{ data.title }}</h2>
        <p class="details-description">{{ data.description }}</p>
        <p class="details-price">Price: {{ data.price }} EGP</p>
        <!-- <button class="add-to-cart-btn">Add to Cart</button> -->
    </div>

</div>