<div class="card product-card text-center" #cardElement>
    <div [routerLink]="['/details', data.id]" class="card-content text-decoration-none">
        <img [src]="data.image" class="card-img-top" alt="Product Image">
        <h5 class="card-title">{{ data.title }}</h5>
        <p class="price">Price: {{ data.price }} $</p>
    </div>

    <div class="card-body fixed-card-footer">
        <ng-container *ngIf="!addButton; else quantityInput">
            <button class="btn btn-primary add-to-cart-btn" (click)="addButton = true">Add to Cart</button>
        </ng-container>
        <ng-template #quantityInput>
            <div class="quantity-add-container d-flex align-items-center justify-content-center">
                <input type="number" class="form-control quantity-input me-2" [(ngModel)]="amount" min="1" placeholder="Qty">
                <button class="btn btn-danger" (click)="SendCardData(); addButton = false">Confirm</button>
            </div>
        </ng-template>
    </div>
</div>
